@model TTask.Models.Person

@{
    List<SelectListItem> roles = new();
    roles.Add(new SelectListItem
    {
        Text = "Сотрудник",
        Value = "0",
        Selected = true
    });
    roles.Add(new SelectListItem
    {
        Text = "Менеджер проекта",
        Value = "1"
    });
    roles.Add(new SelectListItem
    {
        Text = "Руководитель",
        Value = "2"
    });
}

<h2>Занесение нового сотрудника</h2>
<form asp-action="CreatePerson" asp-controller="Home">
    <p>
        <label>Имя</label><br/>
        <input type="text" asp-for="Name" required />
    </p>
    <p>
        <label>Фамилия</label>
        <input type="text" asp-for="Surname" required />
    </p>
    <p>
        <label>Отчество (если есть)</label>
        <input type="text" asp-for="Patronymic"/>
    </p>
    <p>
        <label>Электронная почта</label>
        <input type="text" asp-for="Email" required />
    </p>
    <p>
        <label>Должность</label>
        @Html.DropDownList("Role", roles);
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>
</form>

